#main-lower {
    gap: 0;
    padding-top: 5rem;
}

form {
    margin-bottom: 5rem;
}

form button {
    padding: 1rem 3.75rem;
    border: none;
    border-radius: 1.5rem;
}

.login-options {
    gap: 1rem;
}

.login-options .circle {
    height: 3.75rem;
    width: 3.75rem;
}

.login-btn-container {
    margin-top: 4.6875rem;
}