body {
    background-color: var(--beige);
}

main {
    display: flex;
    flex-direction: column;
}

#main-lower .circle {
    min-height: 1rem;
    min-width: 1rem;
}

#buttons-container {
    width: 100%;
    padding-bottom: 1rem;
}

#master-image {
    height: calc(100% + 1.25rem);
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: 40%;
    margin-top: -1.25rem;
    background-image: url("./static/images/worker.png");
    background-size: cover;
    background-position-x: 50%;
}